header{
	height: 50px;
	margin-top: 30px;
} 
header h4{margin-left: 30px;line-height: 35px;font-weight: bold;color:#337ab7;float: left;height: 30px;}
header h4 .glyphicon{color:#337ab7;padding-right: 5px;}
header p{text-align: center;line-height: 50px;float: left;height: 30px;}
header div{margin-right: 30px;line-height: 50px;float: right}
.col-md-10 form .form-group{
	margin-right: 20px;margin-bottom: 10px;
}